#section-2-work{
    position: relative;
    width: 100%;
    height: 1228px;
    top: 1734px;
    background-color: white;
}

#title-and-arrow{
    position: absolute;
    width: 80%;
    height: auto;
    margin : 7% 0% 0% 10%;
}
#logo-symbol-1{
    width: 2%;
    height: auto;
}

#article-title-and-arrow{
    width: 60%;
    height: auto;
    margin: -3.8% 0% 0% 15%;

}
#article-title-and-arrow h2{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: -0.5px;
    color: #232340;
    background-color: red;
}
#article-title-and-arrow p{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #5468EF;
}
#tag-2  a{
    color: #5468EF;
    margin-right: 20px;
}
#arrow-2{
    width: auto;
    height: auto;
    margin: -17% 0% 13% 88%;
}
#drop-down-2{
    display: none;
}
#services-card{
    width: 90%;
    height: auto;
    margin: 30% 0% 0% 5%;
}

@media(max-width: 376px){
    #section-2-work{
        position: absolute;
        width: 375px;
        height: 2419px;
        left: 0px;
        top: 2550px;
        background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);
        background-color: blue;
    }

}