@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

/*about*/
#section-1-about{
    position: absolute;
    width: 1440px;
    height: 1670px;
    left: 0px;
    top: 1064px;
    background: #232340;
}

#logo-symbol{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 135px;
    top: 128px;
}

#headline-and-tag{
    position: absolute;
    width: 868px;
    height: 192px;
    left: 135px;
    top: 128px;
}

#logo-symbol{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
}

#headline{
    position: absolute;
    width: 668px;
    height: 192px;
    left: 179px;
    top: 0px;
}
#headline h2{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}
#headline p{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
#tag-1 a{
    font-family: 'SF Pro Display';
    color: #8B8B8B;
    left: 20px;
}
#arrow{
    position: absolute;
    width: 144px;
    height: 64px;
    left: 1026px;
    top: 105px;
}
