@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

/*about*/
#section-1-about{
    position: absolute;
    width: 100%;
    height: 1700px;
    margin: 3% 0% 0% 0%;
    background: #232340;
}

#logo-symbol{
    position: absolute;
    width: 2%;
    height: auto;
}

#headline-and-tag{
    width: 80%;
    height: auto;
    margin : 7% 0% 0% 10%;
}


#headline{
    width: 60%;
    height: auto;
    margin: 0% auto;

}
#headline h2{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: -0.5px;
    color: #FFFFFF;

}
#headline p{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
#tag-1  a{
    color: #8B8B8B;
    margin-right: 20px;
}
#arrow{
    width: 10%;
    height: auto;
    margin: -20% 0% 13% 88%;
}
#drop-down{
    display: none;
}
#img-desktop{
    width: 68%;
    height: auto;
    margin: 4% 0% 0% 25%;
}
#img-pc-mobile{
    display: none;
}
.calendar{
    width: 7%;
    height: auto;
    margin: -43% 0% 0% 3%;
    padding: auto;
    text-decoration: none;    
}

.calendar ul li{
    display: inline-block; 
    margin:80%;
    background-color: #232340;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #8B8B8B;
}
#about-content{
    width: 35%;
    height: auto;
    margin: 10% 0% 0% 25%;

}

#about-content h1{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
    color: #FFFFFF;

}
#about-content p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #8B8B8B;
}
#about-button-contact-Us{
    background: #5468E7;
    border-radius: 8px;
    border: none;
    width: 35%; 
    height: 4rem;
    margin:auto;  

}
#about-button-contact-Us a{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
#about-number{
    width: 25%;
    height: auto;
    margin: -18% 0% 0% 65%;
}	
#about-number h2{
    margin: 0% 0% 0% 0%;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 200px;
    line-height: 239px;
    text-align: center;
    color: #FFFFFF;
}
#about-number p{
    margin: 0% 0% 0% 0%;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #FFFFFF;
}

/*media query pag-2*/
@media(max-width: 376px){
    #section-1-about{
        position: absolute;
        width: 375px;
        height: 1681px;
        left: 0px;
        top: 876px;
        background: #232340;
    }
    #logo-symbol{
        display: none;
    }

    #headline-and-tag{
        position: absolute;
        width: 310px;
        height: 314px;
        left: 0px;
        top: 64px;
    }
    #headline{
        position: absolute;
        width: 226px;
        height: 234px;
        left: 0px;
        top: 0px;
    }
    #headline h2{
        top: -20px;
        font-size: 20px;
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.4px;
        color: #FFFFFF;
    }
    #tag-1 p{
        font-family: 'SF Pro Text';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
    }
    #tag-1 a{
        font-family: 'SF Pro Text';
    }

    #arrow{
        position: absolute;
        width: 112px;
        height: 48px;
        left: -280px;
        top: 360px;
    }
    .calendar{
        display: none;
    }
    #drop-down{
        display: block;
        position: absolute;
        width: 144px;
        height: 48px;
        left: 155px;
        top: 300px;
    }
    #img-desktop{
        display: none;
    }
    #img-pc-mobile{
        display: block;
        position: absolute;
        width: 375px;
        height: 420px;
        left: 0px;
        top: 480px;
        background-color: #232340;
    }
    #about-content{
        position: absolute;
        width: 311px;
        height: 336px;
        left: -65px;
        top: 940px;
        background-color: red;

    }
    #about-content h1{
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.2px;
        color: #FFFFFF;
    }
    #about-content p{
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #8B8B8B;
    }
    #about-button-contact-Us{
        position: absolute;
        width: 160px;
        height: 56px;
        left: 0px;
        top: 280px;
    }
    #about-number{
        position: absolute;
        width: 310px;
        height: 310px;
        left: 33px;
        top: 1300.5px;
        border-radius: 100%;
        background: #232340;
        box-shadow: 0px 23px 51px rgba(0, 0, 0, 0.242297);
    }
    #about-number h2{
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 600;
        font-size: 140px;
        line-height: 167px;
        text-align: center;
        color: #FFFFFF;
        top: -55px;
    }
    #about-number p{
        top : 190px;
        left : -45px;
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
    }
}