@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

html{
    position: relative;
    width: 100%;
    height: auto;
    background: #FFFFFF;
    scroll-behavior: smooth;
  }

  /* Estilos gerais */
  body {
    padding: 0;
    margin: 0;
    font-family: 'SF Pro Display';
    font-style: normal;
  }
  
  /* Barra de navegação */
  .container{
    max-width: 2550px;
    width: 100%;
  }

  header{
    position: relative;
    top: 0;
    padding: 0;
    height: auto;
    width: 100%;
  }
  nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 14%;
    z-index: 1;
    background-color: white;
    border-bottom:1px solid #CCC; 
  }

  nav:after{
    clear: both;
    content: "";
    display: block;
  }

  .nav-container{
    max-width: 90%;
    margin: 2rem auto;
    height: 64px;
  }

  #logo-principal{
     width: auto;
     height: 40px;
     margin: 0.8rem auto;
     margin-left: 20px;
  }

  #menu-hamburguer{
    display: none;
  }

  .nav-container ul{
    width: 70%;
    max-width: 50%;
    height: 1.8rem;
    padding: auto;
    margin: -3rem auto;
    text-align: center;

}

  .nav-container li {
    display: inline;
    list-style: none;
    padding: auto;
    margin-right: 20px;


    /*FONTE E LETRA*/
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }

  .nav-container li a{
    text-decoration: none;
    color: #666;
    transition: .5s;

  }

  .nav-container li a:hover{
  color: #3381F3;
  }

  .nav-container li span{
    background: linear-gradient(180deg, #3A8FFF 0%, #0837AE 100%);
    border-radius: 100%;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    padding: 1px 5px;
    color: #FFFFFF;
  }

  #btn-contact-us{
    float: right;
    width: 10rem;
    min-width: auto;
    height: 102%;
    margin: -0.2rem;
    background: #232340;
    border-radius: 8px;

    /*FONTE E LETRA*/
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: auto;
    line-height: auto;
    text-align: center;
    color: #FFFFFF;
  }

  
  /* Página Home */
  #hero-content {
    position: absolute;
    width: 100%;
    height: 59rem;
    margin: 8.3rem auto;


  }
  .banner-hero{
    width: 40%;
    height: 50%;
    margin: 9.5rem;

  }

  .banner-hero h1{
    width: 100%;
    height: 50%;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 5.15rem;
    line-height: 6.0rem;
    letter-spacing: -1px;
    color: #232340;
  }

  .banner-hero p{
    width: 75%;
    height: 25%;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #606060;
  }

  #btn-recent-work{
    width: 150px;
    height: 11%;
    margin: -0.7rem auto;
    background: #5468E7;
    border-radius: 8px;
    font-family: 'SF Pro Display';
  }

  #btn-recent-work p{
    width: 100%;
    height: 50%;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
  }

  #hero-content aside{
    width: 100%;
    height: 50rem;
    margin-top: -40rem;
  }

  #bg-hero-img{
    width:45%;
    height: auto;
    margin-left: 55.5%;
    margin-top: 0rem;
  }

  #logo-hero-img{
    width:75%;
    height: auto;
    margin-left: 27%;
    margin-top: -100rem;
  }

  
  /* Footer */
  #base-footer {
    position: absolute;
    width: 100%;
    height: 1600px;
    left: -1px;
    top: 1328px;
    background-color: green;
  }
  
  /* Responsivo */
  @media (max-width: 780px) {
    html {
      position: relative;
      width: 375px;
      height: auto;
      background: #FFFFFF;
    }

    .container{
      max-width: 768px;
      width: 100%;
    }

    header{
      position: relative;
      top: 0;
      padding: 0;
      height: auto;
      width: 100%;
    }

    nav{
      position: fixed;
      width: 100%;
    }

    #logo-principal{
      width: auto;
      height: 40px;
      margin: 0.8rem auto;
      margin-left: 20px;

    }

    .nav-container ul{
      display: none;
    }

    #menu-hamburguer{
      display: block;
      float : right;
      width: 2.5rem;
      height: auto;
      margin: 1.5rem auto;

    }
    #btn-contact-us{
      display: none;
    }



  

  
  
    #hero-content {
      position: absolute;
      width: 311px;
      height: 356px;
      left: 32px;
      top: 128px;
    }
  
    #hero-content h1 {
      position: absolute;
      height: 168px;
      left: 0%;
      right: 0%;
      top: calc(35% - 168px/2 - 54px);
      font-size: 48px;
      line-height: 56px;
      letter-spacing: -0.5px;
    }
  
    #hero-content p {
      position: absolute;
      left: 0%;
      right: 0%;
      top: 55.57%;
      bottom: 0%;
      font-size: 16px;
      line-height: 28px;
    }
  
    #btn-recent-work {
      position: relative;
      width: 160px;
      height: 56px;
      left: 0px;
      top: 330px;
      z-index: 1;
    }
  
    #btn-recent-work p {
      position: absolute;
      height: 22px;
      left: 21.56%;
      right: 21.56%;
      top: calc(25% - 22px/2);
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      text-align: center;
    }
  
    #logo-hero-img {
      position: absolute;
      width: 400px;
      height: 300px;
      left: -45px;
      top: 400px;
    }
  
    #bg-hero-img {
      position: absolute;
      width: 200px;
      height: 335px;
      left: 143px;
      top: 355px;
    }
    
}
@media only screen and (max-width: 1418px) {
  .banner-hero h1{
    font-size: 4.7rem;
    line-height: 5rem;

  }
}

@media only screen and (max-width: 1000px) {
  .banner-hero h1{
    font-size: 4.5rem;
    line-height: 5rem;

  }
}
@media only screen and (max-width: 915px) {
  .banner-hero h1{
    font-size: 4.5rem;
    line-height:5rem;

  }
}
@media only screen and (max-width: 850px){
  .banner-hero h1{
    font-size: 4.2rem;
    line-height: 4.7rem;

  }
}

